/*Indice
    1-Custom Properties
    2-Reset
    3-Components
    4-Utilities
    5-Site Styles 
*/
/* ------ 1 Custom Properties ------ */
:root {
  --bg: #f4f9fc;
  --gray-color: #ccc;
  --line: #6000cb;
  --fill: #aadcec;
  --text: #0f1b61;
  --subtext: #73bbc5;
  --duo: #105d67;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ------ 2 Reset ------ */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
body {
  overflow-x: hidden;
  background-color: var(--bg);
  min-height: calc(100vh - 40px);
  position: relative;
  padding: 20px;
}

a {
  color: var(--duo);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
  color: var(--subtext);
}

*,
:after,
:before {
  box-sizing: inherit;
}
main:focus {
  outline: none;
}

html:after,
html:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 20px;
  background: #fff;
  z-index: 21000;
}
html:before {
  left: 0;
}
html:after {
  right: 0;
}

body:after,
body:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  background: #fff;
  z-index: 20000;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body.lock-scroll,
html.lock-scroll {
  overflow: hidden;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
path {
  fill: var(--line);
}
/* ------ 3 Components ------ */

/* ------ 3 Menu ------ */
.header.is-active {
  background-color: var(--fill);
  transition: opacity 0.3s ease;
}
.menu-btn {
  border: none;
  outline: 0;
  background-color: transparent !important;
}
.menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: var(--subtext);
  pointer-events: none;
  transition: opacity 0.5s  ease;
}
.menu a {
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  padding: 0.3rem;
  text-align: center;
}
.menu a:hover {
  color: var(--subtext);
}
.menu.is-active {
  background-color: var(--fill);
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu.is-active a:hover {
  background-color: transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f4f9fc' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* ------ 4 Utilities ------ */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
.none {
  display: none;
}
/* ------ 5 Site Styles ------*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
}
.header > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logo {
  width: 50px;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v25/rax8HiqOu8IVPmn7cYxpPDk.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v25/rax8HiqOu8IVPmn7cYxpPDk.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
