/*Indice
    1-Custom Properties
    2-Reset
    3-Components
    4-Utilities
    5-Site Styles 
*/

/*--------------------------------------------------------------
#1 Custom Properties
--------------------------------------------------------------*/

:root {
  --box-shadow: 0px 5px 10px rgba(57, 56, 61, 0.205);
  --light: rgb(255, 255, 255);
  --bg: rgb(244, 249, 252);
  --bg-transparent: rgba(244, 249, 252, 0.6);
  --gray-color: #ccc;
  --line: rgb(96, 0, 203);
  --line-dark: hsl(268, 100%, 35%);
  --fill: rgb(170, 220, 236);
  --fill-dark: hsl(193, 44%, 74%);
  --text: #0f1b61;
  --subtext: #73bbc5;
  --duo: #105d67;
  --max-width: 1200px;
  --header-height: 4rem;
}

/*--------------------------------------------------------------
#2 Reset
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

h1 {
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

span {
  color: var(--duo);
}

/*--------------------------------------------------------------
# Componentes
--------------------------------------------------------------*/

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}

h3 {
  border-left: 3px solid var(--line);
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 30px 0 20px 0;
  padding: 0rem 0.75rem;
  text-transform: uppercase;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px rgba(96, 0, 203, 0.25);
  kerning: auto;
}

.btn:hover {
  color: var(--light);
  background: var(--line-dark);
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

.featurette-divider {
  margin: 80px 70px;
  color: var(--subtext);
}

/* .bg-image {
  
  position: absolute;
  left: 0;
  z-index: -1;
  
  /* filter: blur(3px);  */

/* .btn {
  background-color: var(--line);
  border-radius: 17px;
  color: var(--bg);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 0.9rem 1.75rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  z-index: 2;
}
 */
/* .btn:hover {
  background-color: var(--line-dark);
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--line);
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid var(--fill);
  border-radius: 0px;
  padding: 0.15rem 0;
  position: relative;
}

.btn.btn-secondary::before {
  background-color: var(--line);
  bottom: -2.5px;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 0%;
}

.btn.btn-secondary:hover::before {
  width: 100%;
}

.btn-editar {
  position: absolute;
  pointer-events: auto;
}

.section-title {
  border-top: thin solid var(--line);
  border-bottom: thin solid var(--line);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--text);
}

.text-first-color {
  color: var(--text);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.toggle-btn {
  color: var(--text);
  min-width: 40px;
  height: 40px;
  background-color: var(--fill);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  filter: brightness(97%);
}

.none {
  display: none;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .row {
    display: inline;
  }

  .none {
    display: none;
  }
} */

/* ------ 5 Site Styles ------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  left: 0;
  z-index: 997;
  transition: ALL 0.3s;
  padding: 15px 0;
}

#header.header-scrolled {
  box-shadow: var(--box-shadow);
  background: var(--light);
}

#header .logo {
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
}

.logo spam {
  color: var(--line);
}

@media (max-width: 991px) {
  #header {
    padding: 5px 0;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
/*Desktop Navigation*/
.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
  text-transform: uppercase;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--line);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 5px 10px;
  margin-left: 30px;
  border-radius: 50px;
  line-height: 1;
  color: var(--line);
  border: 1px solid var(--line);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: var(--fill);
  border: var(--fill);
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: var(--line);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--fill);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navbar-mobile ul {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-top: 30px 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--text);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--line);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  border: var(--line);
  margin: 15px;
  padding: 10px 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
}

#hero p {
  font-size: 24px;
  margin: 10px 0 30px 0;
}

#hero .btn-contact-me {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px rgba(96, 0, 203, 0.25);
}

#hero .btn-contact-me:hover {
  background: var(--line-dark);
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

#hero .btn-watch-video span {
  color: var(--text);
  text-transform: capitalize;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#hero .btn-watch-video i {
  color: var(--text);
  font-size: 32px;
  line-height: 0;
  margin-right: 8px;
}

#hero img {
  width: 1500px;
}

#hero .btn-watch-video:hover i {
  color: var(--line);
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    height: 100vh;
  }

  #hero .hero-img img {
    width: 70%;
  }

  #hero h3 {
    display: none;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 100%;
  }

  #hero h3 {
    display: none;
  }
}

@media (max-width: 575px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .hero-img img {
    width: 100%;
  }

  #hero h3 {
    display: none;
  }
}

/*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/

.about .content ul {
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Education Section
--------------------------------------------------------------*/
.progress_bar .pro-bar {
  background: hsl(255, 255, 97%);
  box-shadow: var(--box-shadow) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 50px;
  position: relative;
}

.progress_bar .progress_bar_title {
  color: var(--text);
  font-size: 15px;
  position: relative;
  top: -28px;
  z-index: 1;
  text-transform: uppercase;
}

.progress_bar .progress_number {
  float: right;
}

.progress_bar .progress-bar-inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
}

.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: hsl(0, 0%, 100%);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}

.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}

/*--------------------------------------------------------------
# portfolio Section
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--line);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: var(--text);
  font-weight: 600;
  color: var(--duo);
}

.portfolio .portfolio-item .portfolio-info p {
  color: var(--duo);
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: var(--text);
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: var(--line);
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;

  opacity: 1;
  border: 1px solid var(--line);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(line);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(95, 104, 123, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  color: var(--duo);
  padding: 0;
}

/* 

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.portfolio-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.prt-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-image {
  
}

.prt-desc {
  padding: 1.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.prt-desc {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: capitalize;
}

.btn.btn.btn-secondary.sm {
  padding: 0.07rem 0.1rem;
  font-size: 0.78rem;
  border-bottom-width: 2px;
}

.btn.btn.btn-secondary.sm::before {
  height: 2px;
  bottom: -2px;
}

.prt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.prt-image:hover .prt-overlay {
  pointer-events: auto;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(5px);
}

.prt-icon {
  margin: 0 0.4rem;
  background-color: var(--fill);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: translateY(15px);
  opacity: 0;
  cursor: pointer;
}

.prt-icon:hover {
  background-color: var(--fill-dark);
}

.prt-image:hover .prt-icon {
  opacity: 1;
  transform: translateY(0px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 20800;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: 0.3s;
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.navigation-arrow {
  cursor: pointer;
  padding: 2rem;
}

.slider-wrap img.showImage {
  display: b lock;
}

.portfolio.open .modal {
  pointer-events: auto;
}

.portfolio.open .modal-overlay {
  opacity: 1;
}

.portfolio.open .container {
  transform: scale(0.9);
}

.portfolio.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 01s;
} */

/*--------------------------------------------------------------
# portfolio Section
--------------------------------------------------------------*/

#experience {
  overflow: hidden;
}
#experience .experience-list {
  padding: 0;
  list-style: none;
}
#experience .experience-list .collapse-div {
  border-bottom: 1px solid #edecf4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#experience .experience-list .question {
  display: block;
  position: relative;
  font-family: #1bb1dc;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #158caf;
  transition: 0.3s;
}
#experience .experience-list .collapse-div .place {
  margin: 0 10px;
  border-left: 0.5px solid #5f687b;
padding: 0rem 10px;
  
}
#experience .experience-list .collapse-div .date,.place {
 font-size: 12px;
  color: #5f687b;
  text-transform: uppercase;
}
#experience .experience-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}
#experience .experience-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}
#experience .experience-list .icon-show {
  display: none;
}
#experience .experience-list .collapsed {
  color: black;
}
#experience .experience-list .collapsed:hover {
  color: #1bb1dc;
}
#experience .experience-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}
#experience .experience-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid var(--line);
  border-bottom: 3px solid var(--line);
  padding: 30px;
  width: 100%;
  background-color: var(--light);
}
.contact .info i {
  font-size: 20px;
  color: var(--line);
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--text);
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--text);
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: var(--line);
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: var(--line);
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e;
  padding: 30px;
  background-color: #f9f9fa;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #16df7e;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #16df7e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #206bfb;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}