/*Indice
    1-Custom Properties
    2-Reset
    3-Components
    4-Utilities
    5-Site Styles 
*/

/*--------------------------------------------------------------
#1 Custom Properties
--------------------------------------------------------------*/

:root {
  --box-shadow: 0px 5px 10px rgba(57, 56, 61, 0.205);
  --light: rgb(255, 255, 255);
  --bg: rgb(244, 249, 252);
  --bg-transparent: rgba(244, 249, 252, 0.6);
  --gray-color: #ccc;
  --line: rgb(96, 0, 203);
  --line-dark: hsl(268, 100%, 35%);
  --fill: rgb(170, 220, 236);
  --fill-dark: rgba(170, 219, 236, 0.493);
  --text: rgb(15, 27, 97);
  --subtext: rgb(115, 187, 197);
  --duo: rgb(16, 93, 103);
}

/*--------------------------------------------------------------
#2 Reset
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

li {
  list-style: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

span {
  color: var(--duo);
}

/*--------------------------------------------------------------
# Componentes
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--text);
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: var(--fill-dark);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px var(--fill-dark);
  kerning: auto;
}

.btn:hover {
  color: var(--light);
  background: var(--line-dark);
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

.featurette-divider {
  margin: 80px 70px;
  color: var(--subtext);
}

@media (max-width: 575px) {

  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }

  .featurette-divider {
    margin: 0 70px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  left: 0;
  z-index: 997;
  transition: ALL 0.3s;
  padding: 15px 0;
}

#header.header-scrolled {
  box-shadow: var(--box-shadow);
  background: var(--light);
}

#header .logo {
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
}

.logo spam {
  color: var(--line);
}

@media (max-width: 991px) {
  #header {
    padding: 5px;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
/*Desktop Navigation*/
.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
  text-transform: uppercase;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--line);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 5px 10px;
  margin-left: 30px;
  border-radius: 50px;
  line-height: 1;
  color: var(--line);
  border: 1px solid var(--line);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: var(--fill);
  border: var(--fill);
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: var(--line);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--fill);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navbar-mobile ul {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-top: 30px 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--text);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--line);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  border: var(--line);
  margin: 15px;
  padding: 10px 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}

#hero p {
  font-size: 24px;
  margin: 10px 0 30px 0;
}

#hero .btn-contact-me {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 25px;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px var(--fill-dark);
}

#hero .btn .btn-contact-me:hover {
  background: var(--line-dark);
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

#hero .btn-watch-video span {
  color: var(--text);
  text-transform: capitalize;
}

#hero .btn-watch-video {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  align-items: center;
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  display: inline-flex;
}

#hero .btn-watch-video i {
  align-items: center;
  align-content: center;
  color: var(--text);
  font-size: 32px;
  line-height: 0;
  margin-right: 8px;
}

#hero img {
  width: 1500px;
}

#hero .btn-watch-video:hover i {
  color: var(--line);
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    height: 100vh;
  }

  #hero h3 {
    display: none;
  }
  #hero .hero-img img {
    width: 90%;
  }
}

@media (max-width: 768px) {

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  #hero {
    background-image: url(/FrontEnd/assets/img/imagenesFondo/ttten.svg);
    background-repeat: no-repeat;

  }

  #hero .hero-img img {
    display: none;
  }

}

/*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/

.about .content ul {
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Education Section
--------------------------------------------------------------*/
.progress_bar .pro-bar {
  background: hsl(255, 255, 97%);
  box-shadow: var(--box-shadow) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 50px;
  position: relative;
}

.progress_bar .progress_bar_title {
  color: var(--text);
  font-size: 15px;
  position: relative;
  top: -28px;
  z-index: 1;
  text-transform: uppercase;
}

.progress_bar .progress_number {
  float: right;
}

.progress_bar .progress-bar-inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
}

.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: hsl(0, 0%, 100%);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}

.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}

/*--------------------------------------------------------------
# portfolio Section
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  text-align: center;
  border-radius: 50px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--line);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}


#portfolio .portfolio-item {
  margin-bottom: 30px;
}

#portfolio .portfolio-wrap {
  text-align: center;
  position: relative;
  overflow: hidden;
}

#portfolio .portfolio-wrap img {
  width: 100%;
}

#portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.753);
}

#portfolio .portfolio-wrap .portfolio-info-content {
  transition: margin 0.2s;
  height: 30px;
  transition: height 0.4s;
}

#portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  transition: 0.4s;
}

#portfolio .portfolio-wrap:hover .portfolio-info-content {
  height: 60px;
}

#portfolio .portfolio-wrap h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: var(--text);
}

#portfolio .portfolio-wrap span {
  display: block;
  font-size: 13px;
  color: var(--text);
}

#portfolio .portfolio-wrap .portfolio-links a {
  transition: none;
  color: var(--text);
}

#portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--line);
}

#portfolio .portfolio-wrap .portfolio-links i {
  font-size: 24px;
  margin: 0 2px;
}


/*--------------------------------------------------------------
# experience Section
--------------------------------------------------------------*/

#experience {
  overflow: hidden;
}

#experience .experience-list {
  padding: 0 150px;
  list-style: none;
  flex-direction: column-reverse;
}

#experience .experience-list .collapse-div {
  border-bottom: 1px solid #edecf4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#experience .experience-list .question {
  display: block;
  position: relative;
  font-family: var(--line);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: var(--line-dark);
  transition: 0.3s;
}

#experience .experience-list .collapse-div .place {
  margin: 0 10px;
  border-left: 2px solid #e0dfe7;
  padding: 0rem 10px;

}

#experience .experience-list .collapse-div .date,
.place {
  font-size: 12px;
  color: #5f687b;
  text-transform: uppercase;
}

#experience .experience-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

#experience .experience-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#experience .experience-list .icon-show {
  display: none;
}

#experience .experience-list .collapsed {
  color: var(--text);
}

#experience .experience-list .collapsed:hover {
  color: var(--line);
}

#experience .experience-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

#experience .experience-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}


@media (max-width: 768px) {
 
#experience .experience-list {
  padding: 0;
}

}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid var(--fill);
  border-bottom: 3px solid var(--fill);
  padding: 30px;
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  color: var(--line);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  text-transform: capitalize;
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--text);
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: var(--line);
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: var(--line);
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  border-top: 3px solid var(--fill);
  border-bottom: 3px solid var(--fill);
  padding: 30px;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: var(--line);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--line);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: var(--line);
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: var(--line);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: var(--line-dark);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background-color: #f3f4f6;
  color: #5f687b;
  font-size: 14px;
  position: relative;
}
#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}
#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #5f687b;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}
#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}
#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #e4e6ea;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #16df7e;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: var(--line);
}
#footer .footer-top .social-links {
  margin-top: 30px;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: var(--line);
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  font-size: 13px;
}
@media (max-width: 992px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}