/*Indice
    1-Custom Properties
    2-Reset
    3-Components
    4-Utilities
    5-Site Styles 
*/

/*--------------------------------------------------------------
#1 Custom Properties
--------------------------------------------------------------*/

:root {
  --box-shadow: 0px 5px 10px rgba(57, 56, 61, 0.205);
  --light: rgb(255, 255, 255);
  --bg: rgb(244, 249, 252);
  --bg-transparent: rgba(244, 249, 252, 0.6);
  --gray-color: #ccc;
  --line: rgb(96, 0, 203);
  --line-dark: hsl(268, 100%, 35%);
  --fill: rgb(170, 220, 236);
  --fill-dark: hsl(193, 44%, 74%);
  --text: #0f1b61;
  --subtext: #73bbc5;
  --duo: #105d67;
  --max-width: 1200px;
  --header-height: 4rem;
}

/*--------------------------------------------------------------
#2 Reset
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

h1 {
  font-family: "Raleway", sans-serif;
}

i {
  color: var(--line);
}

li {
  list-style: none;
}

span {
  color: var(--duo);
}

/*--------------------------------------------------------------
# Componentes
--------------------------------------------------------------*/

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}

h3 {
  border-left: 3px solid var(--line);
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 30px 0 20px 0;
  padding: 0rem 0.75rem;
  text-transform: uppercase;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px rgba(96, 0, 203, 0.25);
  kerning: auto;
}

.featurette-divider {
  margin: 80px 70px; 
  color: var(--subtext);
}

/* .bg-image {
  
  position: absolute;
  left: 0;
  z-index: -1;
  
  /* filter: blur(3px);  */

/* .btn {
  background-color: var(--line);
  border-radius: 17px;
  color: var(--bg);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 0.9rem 1.75rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  z-index: 2;
}
 */
/* .btn:hover {
  background-color: var(--line-dark);
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--line);
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid var(--fill);
  border-radius: 0px;
  padding: 0.15rem 0;
  position: relative;
}

.btn.btn-secondary::before {
  background-color: var(--line);
  bottom: -2.5px;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 0%;
}

.btn.btn-secondary:hover::before {
  width: 100%;
}

.btn-editar {
  position: absolute;
  pointer-events: auto;
}

.section-title {
  border-top: thin solid var(--line);
  border-bottom: thin solid var(--line);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--text);
}

.text-first-color {
  color: var(--text);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.toggle-btn {
  color: var(--text);
  min-width: 40px;
  height: 40px;
  background-color: var(--fill);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  filter: brightness(97%);
}

.none {
  display: none;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .row {
    display: inline;
  }

  .none {
    display: none;
  }
} */

/* ------ 5 Site Styles ------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  left: 0;
  z-index: 997;
  transition: ALL 0.3s;
  padding: 15px 0;
}

#header.header-scrolled {
  box-shadow: var(--box-shadow);
  background: var(--light);
}

#header .logo {
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
}

.logo spam {
  color: var(--line);
}

@media (max-width: 991px) {
  #header {
    padding: 5px 0;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
/*Desktop Navigation*/
.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
  text-transform: uppercase;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--line);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 5px 10px;
  margin-left: 30px;
  border-radius: 50px;
  line-height: 1;
  color: var(--line);
  border: 1px solid var(--line);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: var(--fill);
  border: var(--fill);
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: var(--line);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--fill);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navbar-mobile ul {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-top: 30px 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--text);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--line);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  border: var(--line);
  margin: 15px;
  padding: 10px 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
}

#hero p {
  font-size: 24px;
  margin: 10px 0 30px 0;
}

#hero .btn-contact-me {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--light);
  background: var(--line);
  box-shadow: 0 8px 28px rgba(96, 0, 203, 0.25);
}

#hero .btn-contact-me:hover {
  background: var(--line-dark);
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

#hero .btn-watch-video span {
  color: var(--text);
  text-transform: capitalize;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#hero .btn-watch-video i {
  color: var(--text);
  font-size: 32px;
  line-height: 0;
  margin-right: 8px;
}

#hero img {
  width: 1500px;
}

#hero .btn-watch-video:hover i {
  color: var(--line);
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    height: 100vh;
  }

  #hero .hero-img img {
    width: 70%;
  }

  #hero h3 {
    display: none;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 100%;
  }

  #hero h3 {
    display: none;
  }
}

@media (max-width: 575px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .hero-img img {
    width: 100%;
  }
  #hero h3 {
    display: none;
  }

}

/*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/
.about .content ul {
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Education Section
--------------------------------------------------------------*/
/*------ Education Section ------*/
.skill-box {
  background-color: var(--light);
  border-radius: 20px;
  width: 100%;
}


.sk-progress {
  width: 150px;
  height: 150px;
  position: relative;
}

.sk-progress svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
  fill: var(--subtext);
  stroke-width: 5px;
  stroke: var(--line);
  stroke-linecap: round;
  stroke-dasharray: 427;
  stroke-dashoffset: 427;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--line);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.counter span {
  display: none;
}

.counter span:hover {
  display: list-item;
}

.progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
} */

/*---------------Portfolio Section------------*/
.porfolio .container {
  transition: 0.4s;
}

.portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.portfolio-title {
  padding-bottom: 1rem;
}

.filter-btn {
  display: inline-block;
  color: var(--text);
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.prt-card {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--light);
  height: 265px;
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: var(--box-shadow);
}

.prt-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-image {
  width: 100%;
}

.prt-desc {
  padding: 1.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.prt-desc {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: capitalize;
}

.btn.btn.btn-secondary.sm {
  padding: 0.07rem 0.1rem;
  font-size: 0.78rem;
  border-bottom-width: 2px;
}

.btn.btn.btn-secondary.sm::before {
  height: 2px;
  bottom: -2px;
}

.prt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.prt-image:hover .prt-overlay {
  pointer-events: auto;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(5px);
}

.prt-icon {
  margin: 0 0.4rem;
  background-color: var(--fill);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: translateY(15px);
  opacity: 0;
  cursor: pointer;
}

.prt-icon:hover {
  background-color: var(--fill-dark);
}

.prt-image:hover .prt-icon {
  opacity: 1;
  transform: translateY(0px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 20800;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: 0.3s;
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.navigation-arrow {
  cursor: pointer;
  padding: 2rem;
}

.slider-wrap img.showImage {
  display: block;
}

.portfolio.open .modal {
  pointer-events: auto;
}

.portfolio.open .modal-overlay {
  opacity: 1;
}

.portfolio.open .container {
  transform: scale(0.9);
}

.portfolio.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 01.s;
}